/*This is forcing body to whole page*/
body{height:100%;
   width:100%;
   background: #267700;
   /*no-repeat center center fixed; */
/*  This should allow the game to resize appropriately*/
  -webkit-background-size: cover;  
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*Keeping all wording in the middle for right now*/
  font-family: Merriweather Sans;
} .banner {
color: white;
	text-shadow: 1px 2px red;
	font-family: Berkshire Swash;
}

#banner {
  margin-top: 45px;
  margin-left: 30px;
	font-size: 150px;
}

#banner:hover {

}

#santa {
  z-index: -1;
  left: 0;
}

.jumbotron {
  border: 2px green;
}

#search {
  margin-left: 30px;
  font-size: 25px;
  height: 40px;
  font-family: Merriweather Sans;
}

.your-clock{

padding-left: 500px;
}

h3 {
  padding-left: 190px;
  color: white;

  font-family: Bree Serif;
}

.heading {
  margin-top: 150px;
}

#search-page {
 margin: 50px;
}
#search-title {

}



.pics {
  overflow: scroll;
}

.search-img {
  margin: 0 20px;
  width: 250px;
  height: 250px;
}

.results {
  margin: 20px 0 ;
}

.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    right: 10px;
  }
  .my-cart-icon-affix {
    position: fixed;
    z-index: 999;
  }

  #player {
   margin-left: 30px;
  }

.heading, .right{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}